h1{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    fon
}
p{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}